// Prioritizer webapp settings

$primary: yellow;
$link-decoration: none;

$background-color: #282828;
$background-hover1-color: #303030;
$main-font-color: #F5F5F5;
$background-incrusted: rgba(0, 0, 0, 0.5);
